* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    background: rgb(253, 169, 218);
    user-select: none;
    -webkit-app-region: drag;
}

.app {
    padding: 16px;
}

button,
input,
textarea,
select {
    -webkit-app-region: no-drag;
    cursor: pointer;
}